.main_page {
  background: url("../../static/tuman.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
button {
  min-width: 85px;
  min-height: 40px;
  background-color: #ffdd2d;
  border: 1px solid #ffdd2d;
  font: 13px/18px haas, pragmatica, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  border-radius: 4px;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 3px;
  padding: 5px;
  font-family: haas, pragmatica, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
button:hover {
  background-color: #cccc00;
}
td {
  background-color: white;
  padding: 10px;
}
th {
  background-color: white;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  margin: 5px;
  border-top: 2px solid transparent;
  border-image: linear-gradient(45deg, #ff0, #f0f, #f00);
  border-image-slice: 1;
}
p {
  font-size: 14px;
}
.do {
  text-decoration: line-through;
  opacity: 0.5;
}
.nodo {
  color: black;
}
.noHotEndpointData {
  color: black;
}
.HotEndpointData {
  color: red;
}
.button_todo {
  display: flex;
  flex-direction: row;
}
.main_button_todos {
  display: flex;
  flex-direction: row;
}
.filters_todo {
  margin: 5px;
}
.title_filters {
  margin: 5px;
  font-size: 24px;
  font-family: haas, pragmatica, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", Arial, sans-serif;
  padding: 3px;
  background: linear-gradient(45deg, red, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
