.wrapper_registation{
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin-top: 150px;
    margin-bottom: auto;
    background: blue;
}
.reg_email{
    margin: 5px;
    height: 25px;
}
.reg_password{
    margin: 5px;
    height: 25px;
}